.hero{
    background:linear-gradient(rgba(8,0,58,0.7), rgba(8,0,58,0.7)), url("https://greatstack.in/assets/hero-wMB5D_Q0.png");
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.hero-row{
    text-align: center;
    justify-content: center;
    display: flex;
}