ul li{
    list-style: none;
    display: inline-block;
    margin:  0 35px;
    cursor: pointer;
    padding-top: 10px;
}

ul{
    margin-left: 12rem;
}

nav{
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    
    
    
    
    
}

.background{
    position: fixed;
}

.logo{
    height: 2.5rem;
}

.dark-nav{
    background-color: blue;
    transition: 0.5s;
}

