ul li{
    list-style: none;
    display: inline-block;
    margin:  0 20px;
    cursor: pointer;
    padding-top: 10px;
}

ul{
    margin-left: 12rem;
}

nav{
    width: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    
    
    
    
}

.background{
    background-color: #333;
}

.logo{
    height: 2.5rem;
}

